<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>photoset0-0</string>
		<string>photoset0-1</string>
		<string>photoset0-2</string>
		<string>photoset0-3</string>
		<string>photoset0-4</string>
		<string>photoset0-5</string>
		<string>photoset0-6</string>
		<string>photoset0-7</string>
		<string>photoset0-8</string>
		<string>photoset0-9</string>
		<string>photoset0-10</string>
		<string>photoset0-11</string>
		<string>photoset0-12</string>
		<string>photoset0-13</string>
		<string>photoset0-14</string>
		<string>photoset0-15</string>
	</array>
	<array>
		<string>photoset0-10</string>
		<string>photoset0-11</string>
	</array>
	<array>
		<string>photoset0-5</string>
		<string>photoset0-8</string>
		<string>photoset0-2</string>
		<string>photoset0-3</string>
		<string>photoset0-4</string>
		<string>photoset0-0</string>
		<string>photoset0-6</string>
		<string>photoset0-7</string>
		<string>photoset0-1</string>
	</array>
	<array>
		<string>photoset0-6</string>
		<string>photoset0-7</string>
		<string>photoset0-2</string>
		<string>photoset0-3</string>
		<string>photoset0-4</string>
		<string>photoset0-1</string>
		<string>photoset0-0</string>
	</array>
	<array>
		<string>photoset0-4</string>
		<string>photoset0-9</string>
		<string>photoset0-2</string>
		<string>photoset0-3</string>
	</array>
	<array>
		<string>photoset0-3</string>
		<string>photoset0-11</string>
		<string>photoset0-2</string>
		<string>photoset0-3</string>
	</array>
	<array>
		<string>photoset0-13</string>
		<string>photoset0-6</string>
		<string>photoset0-2</string>
		<string>photoset0-3</string>
		<string>photoset0-4</string>
		<string>photoset0-5</string>
	</array>
	<array>
		<string>photoset0-4</string>
		<string>photoset0-9</string>
		<string>photoset0-2</string>
		<string>photoset0-3</string>
		<string>photoset0-14</string>
		<string>photoset0-5</string>
		<string>photoset0-6</string>
	</array>
	<array>
		<string>photoset0-9</string>
		<string>photoset0-7</string>
		<string>photoset0-2</string>
		<string>photoset0-3</string>
		<string>photoset0-4</string>
		<string>photoset0-5</string>
	</array>
</array>
</plist>
